{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}

	<h1>User list</h1>

    <table>
        <thead>
        <tr>
             <th>Id</th>
             <th>Pseudo</th>
			 <th>Email</th>
			 <th>Dernière connexion</th>
			 <th>Rôles</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
            	<td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
            	<td>{{ user.username }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.lastLogin |date("d-m-Y H:i:s") }}</td>
				<td>
                    {% for role in user.roles  %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Modification</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>

{% endblock %}
