{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <h1>Post list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Dateadd</th>
            <th>Dateupdate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{% if post.dateAdd %}{{ post.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.dateUpdate %}{{ post.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
