{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <h1>Créer mon compte</h1>

    {{ form_start(form) }}

    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}

    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}

    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
    {{ form_errors(form.password) }}

    <input type="submit" value="Create" />

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
